@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes move-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-move-gradient {
  background: linear-gradient(270deg, #6d28d9, #ec4899, #6d28d9);
  background-size: 200% 200%;
  animation: move-gradient 10s ease infinite;
}
